body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	background-color: #203a43;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(8px);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	height: 57px;
	padding-top: 20px;
}

.favicon-img {
  height: 70px;
  width: auto;
}

.logo {
	font-size: 24px;
	font-family: "Inter", sans-serif;
	color: #fff;
	font-weight: 700;
	letter-spacing: 1px;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	margin-right: 40px;
}

.nav-links a {
	text-decoration: none;
	color: #fff;
	font-weight: 10;
	font-size: 16.7px;
	font-family: "Inter", sans-serif;
	transition: color 0.3s ease;
}

.nav-links a:hover {
	color: #00b4d8;
}

.auth-buttons {
	margin-right: 63px;
	display: flex;
	gap: 13px;
}

.auth-buttons button {
	padding: 0.8rem 2rem;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s ease;
}

.auth-buttons button.login {
	background: #fff;
	color: #0f2027;
}

.auth-buttons button.signup {
	background: #fff;
	color: #0f2027;
}

.auth-buttons button:hover {
	transform: scale(1.05);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.login-section {
	margin-top: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #bac0c2;
	border-radius: 15px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
	width: 400px;
	height: auto;
	padding: 30px;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

button[type="submit"] {
	background-color: #00b4d8;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 8px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 600;
	transition: background-color 0.3s ease;
	width: 50%;
	margin-left: 25%;
}
